<div mat-dialog-title>
    <h3 style="text-align: center;"><b>INFO</b>
        <span style="float: right;">
            <button mat-icon-button [mat-dialog-close]=true>
                <mat-icon>cancel</mat-icon>
            </button>
        </span>
    </h3>
</div>
<div mat-dialog-content>
    <table width="100%">
        <tr>
            <th> Example : </th>
            <td>In <b> PlayStore</b>, App Name is <b> com.flipkart.android </b> from URL
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                https://play.google.com/store/apps/details?id=com.flipkart.android
            </td>
        </tr>
        <tr>
            <th> <label> Example : </label></th>
            <td>
                <label> In <b> App Store</b>, App Name is <b> flipkart-online-shopping-app </b> and App Id is
                    <b>742044692 </b>
                    from URL </label>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <label>
                    https://apps.apple.com/in/app/flipkart-online-shopping-app/id742044692 </label>
            </td>
        </tr>
    </table>
    <!--   <p>
        For Example : In <b> PlayStore</b>, App Name is <b> com.flipkart.android </b> from URL
        https://play.google.com/store/apps/details?id=com.flipkart.android
    </p> -->
    <!--  <p>
        For Example : In <b> App Store</b>, APP Name is <b> flipkart-online-shopping-app </b> and
        App Id is <b>742044692 </b> from URL
        https://apps.apple.com/in/app/flipkart-online-shopping-app/id742044692
    </p> -->
</div>