<!-- <div class="tending-container">
    <img src="../../../../assets/images/comboChart.png">
</div> -->
<div >
    <p class="heading">Placeholders</p>
</div>

<div class="">
    <div class="row">
        <div class="col">
            <img src="../../../../assets/trending/mobilerating.png">
            
        </div>
        <div class="col">
            <img src="../../../../assets/trending/speedindex.png">         
        </div>
      </div>
      <div class="row">
        <div class="col">
            <img src="../../../../assets/trending/accessibility.png">
        </div>
        <div class="col">
            <img src="../../../../assets/trending/securityviolations.png">        
        </div>
       
      </div>
      <div class="row" >
        <div class="col">
            <img src="../../../../assets/trending/uiuxdefects.png">
        </div>
      </div>
      
</div>

